<!DOCTYPE html>
<html>
<head>
	<title>cd-2</title>
	<script type="text/javascript" src=https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script type="text/javascript">
		var mod=angular.module("Myapp",[]);
		mod.directive("myDir1",function(){ 
			return {
				template:"<button ng-click='popup()'>Element</button>",
				restrict:'E'
			}
		});
		mod.directive("myDir2",function(){ 
			return {
				template:"<button ng-click='popup()'>Class</button>",
				restrict:'C'
			}
		});
		mod.directive("myDir3",function(){
			return {
				template:"<button ng-click='popup()'>Attribute</button>",
				restrict:'A',
			}
		});
		mod.directive("myDir4",function(){   
			return { 
				template : '<button ng-click="popup()">Comment</button>',
				restrict : 'M',
				replace : 'false'
			}
		});
		mod.controller("myctrl",function($scope){ 
			$scope.popup = function(){
				alert('Pop up');
			}
		})
	</script>
</head>
<body ng-app="Myapp" class="container" ng-controller="myctrl">
	<br><br><br><br>
	<my-dir1></my-dir1><br><br>
	<div class="my-dir2"></div><br>
	<div my-dir3></div><br>
	<!-- directive: my-dir4 -->
	<br><br><br><br><br>
	
		
	</div>
</body>
</html>